.wrapper {
  width: 100%;
  max-width: 300px;
}

.dropdown {
  width: 100%;
  position: relative;
  box-sizing: border-box;
  button {
    outline: none;
  }
}

.menu {
  box-sizing: border-box;
  margin: 2px 0 0 0;
  position: absolute;
  width: 100%;
  z-index: 2;
}

.blanket {
  bottom: 0;
  box-sizing: border-box;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1;
}

.trigger {
  .pic {
    display: none;
  }
  .label {
    line-height: 16px;
    svg {
      margin-top: -4px;
    }
    .pic {
      display: none;
    }
  }
}

.inner {
  padding: 10px;
  box-shadow: 0 0 0 1px hsla(218, 50%, 10%, 0.1), 0 4px 11px hsla(218, 50%, 10%, 0.1);
  border-radius: 3px;
  background-color: white;
  .select-container {
    margin-bottom: -5px;
    & > div {
      & > div:first-child {

      }
      & > div:last-child {
        position: relative;
        border-radius: 0;
        box-shadow: none;
      }
    }
  }
}

.inner-not-searchable {
  @extend .inner;
  padding-bottom: 1px;
  .select-container {
    margin-top: -5px;
    & > div {
      & > div:first-child {
        display: none;
      }
    }
  }
}

.check {
  display: none;
  position: absolute;
  right: 2px;
  top: 10px;
  background-color: transparent;
}

.label {
  font-size: 14px;
  line-height: 40px;
  .pic {
    display: inline-block;
    height: 32px;
    width: 32px;
    border-radius: 25em;
    vertical-align: middle;
  }
  .pic-small {
    @extend .pic;
    height: 16px;
    width: 16px;
  }
}

.option {
  position: relative;
  display: block;
  cursor: pointer;
  height: 40px;
  &>div, &>div:active {
    padding: 0 6px;
    background: transparent;
    color: inherit;
  }
  &:hover {
    background-color: #298fca;
    color: #fff;
  }
}

.option-selected {
  @extend .option;
  .check {
    display: block;
    background-color: #fff;
    color: #000;
  }
  &:hover {
    background-color: #298fca;
    color: #fff;
    .check {
      background-color: #298fca;
      color: #fff;
    }
  }
}

.header {
  position: relative;
  text-align: center;
  color: #6b808c;
  padding: 0 0 8px 0;
  border-bottom: 1px solid rgba(9,45,66,.13);
  margin-bottom: 8px;
  font-size: 14px;
  .close {
    position: absolute;
    right: 2px;
    top: 0;
    font-size: 16px;
    font-family: Times;
    cursor: pointer;
    &:hover {
      color: #516b7a;
    }
  }
}
