# See https://help.github.com/ignore-files/ for more about ignoring files.

# ignor all files and directories except necessary
/*

!/.circleci
!/.storybook
!/@scripts
!/@src
!/.gitignore
!/.npmignore
!/package.json
!/package-lock.json
!/README.md
!/README.ru.md
!/tsconfig.json
!/tsconfig.prod.json
!/tslint.json
