$mainColor: #000;
$secondaryColor: #333;
$danger: #dc3545 !default;
$warning: #ffc107 !default; // hover #E0A800 or #ff8484
$titleInputBorderColor: #5ba4cf !default;
$titleInputMinHeight: 32px !default;

.wrapper {
  box-sizing: border-box;
  display: block;
  position: relative;
  width: 100%;
}

.input-wrapper {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  label {
    color: $secondaryColor;
    display: block;
    font-weight: bold;
  }
}

.textarea {
  color: $mainColor;
  box-sizing: border-box;
  flex-grow: 1;
  resize: none;
  overflow: hidden;
  overflow-wrap: break-word;
  min-height: $titleInputMinHeight;
  height: auto;
  max-width: 100%;
  margin: 1px;
  padding: 4px 4px 4px 11px;
  font-size: 18px;
  background: transparent;
  border: 1px solid transparent;
  border-radius: 2px;
  box-shadow: none;
  line-height: 24px;
  outline: none;
  &.with-icon {
    margin-left: 29px;
  }
  &.bold {
    font-weight: bold;
    &::placeholder {
      color: gray;
      font-weight: normal;
    }
  }

  &:focus {
    background: #fff;
    border: 1px solid $titleInputBorderColor;
  }
}

.icon {
  position: absolute;
  left: 0;
  top: 0;
  * {
    position: absolute;
    left: 0;
    top: 10px;
    max-width: 16px;
  }
}

.error {
  color: $danger;
  font-size: 12px;
  font-weight: 500;
  font-style: italic;
  position: absolute;
  bottom: -7px;
  left: 14px;
  &.with-icon {
    left: 26px;
  }
}

.warning {
  color: $warning;
  font-size: 12px;
  font-weight: 500;
  font-style: italic;
  padding-top: 2px;
}