$mainEasing: ease-in-out !default;

$buttonDisabledText: $disabledText !default;

$buttonDefault: $default !default;
$buttonDefaultActive: $defaultActive !default;
$buttonDefaultBorder: $defaultBorder !default;
$buttonDefaultText: $defaultText !default;

$buttonDanger: $danger !default;
$buttonDangerActive: $dangerActive !default;
$buttonDangerBorder: $dangerBorder !default;
$buttonDangerText: $dangerText !default;

$buttonSecondary: $secondary !default;
$buttonSecondaryActive: $secondaryActive !default;
$buttonSecondaryBorder: $secondaryBorder !default;
$buttonSecondaryText: $secondaryText !default;

.button {
  align-items: center;
  background-color: $buttonDefault;
  border: solid 1px $buttonDefaultBorder;
  border-radius: 3px;
  color: $buttonDefaultText;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-weight: 400;
  justify-content: center;
  line-height: 16px;
  padding: 0 20px 0;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 0.2s $mainEasing, box-shadow 0.1s $mainEasing, border-color 0.2s $mainEasing;
  height: 38px;
  min-width: 38px;
  white-space: nowrap;
  &:hover {
    background-color: $buttonDefaultActive;
    border-color: $buttonDefaultBorder;
    color: $buttonDefaultText;
    path {
      fill: $buttonDefaultText;
    }
  }
  &:active {
    box-shadow: 0 0 10px 0 rgba($buttonDefault, 0.3) inset;
  }
  &:focus {
    border: 1px solid $buttonDefaultActive;
  }

  path {
    transition: fill 0.2s $mainEasing;
  }
  &[disabled] {
    background-color: $buttonDefault;
    border-color: $buttonDefaultBorder;
    color: $buttonDefaultText;
    opacity: 0.5;
    cursor: not-allowed;
    &:hover {
      background-color: $buttonDefault;
      border-color: $buttonDefaultBorder;
      color: $buttonDefaultText;
      opacity: 0.5;
    }
  }
}

.danger {
  background-color: $buttonDanger;
  border-color: $buttonDangerBorder;
  color: $buttonDangerText;
  &:hover {
    background-image: linear-gradient(to right, $buttonDangerActive, lighten($buttonDangerActive, 10%));
    border-color: $buttonDangerActive;
    color: $buttonDangerText;
    path {
      fill: $buttonDangerActive;
    }
  }
  &:active {
    background-image: linear-gradient(to right, $buttonDangerActive, lighten($buttonDangerActive, 10%));
    color: $buttonDangerText;
    path {
      fill: $buttonDangerActive;
    }
  }
  &[disabled] {
    background-color: $buttonDanger;
    border-color: $buttonDangerBorder;
    color: $buttonDangerText;
    opacity: 0.5;
    cursor: not-allowed;
    &:hover {
      background-color: $buttonDanger;
      border-color: $buttonDangerBorder;
      color: $buttonDangerText;
      opacity: 0.5;
    }
  }
}

.stretch {
  width: 100%;
}

.secondary {
  background-color: $buttonSecondary;
  border-color: $buttonSecondaryBorder;
  color: $buttonSecondaryText;
  &:hover {
    background-image: linear-gradient(to right, $buttonSecondaryActive, lighten($buttonSecondaryActive, 10%));
    border-color: $buttonSecondaryActive;
    color: $buttonSecondaryText;
    path {
      fill: $buttonSecondaryActive;
    }
  }
  &:active {
    background-image: linear-gradient(to right, $buttonSecondaryActive, lighten($buttonSecondaryActive, 10%));
    color: $buttonSecondaryText;
    path {
      fill: $buttonSecondaryActive;
    }
  }
  &[disabled] {
    background-color: $buttonSecondary;
    border-color: $buttonSecondaryBorder;
    color: $buttonDisabledText;
    opacity: 0.5;
    cursor: not-allowed;
    &:hover {
      background-color: $buttonSecondary;
      border-color: $buttonSecondaryBorder;
      color: $buttonDisabledText;
      opacity: 0.5;
    }
  }
}
