$mainEasing: ease-in-out !default;
$white: #fff;

$primary: #47948a !default;
$primarySecond: lighten($primary, 10%) !default;

$secondary: #eceef0 !default;
$secondarySecond: lighten($primary, 10%) !default;

$success: #28a745 !default;// hover #218838
$danger: #dc3545 !default; // hover #c82333
$warning: #ffc107 !default; // hover #E0A800 or #ff8484
$info: #17a2b8 !default;
$light: #17a2b8 !default;
$dark: #17a2b8 !default;
$link: #17a2b8 !default;

.button {
  align-items: center;
  background-color: #e6e6e6;
  border: solid 1px $secondary;
  border-radius: 3px;
  color: #393939;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Roboto';
  justify-content: center;
  line-height: 16px;
  padding: 0 20px 0;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 0.2s $mainEasing, box-shadow 0.1s $mainEasing, border-color 0.2s $mainEasing;
  height: 40px;
  min-width: 40px;
  white-space: nowrap;
  &:hover {
    color: $primary;
    border-color: $primary;
    path {
      fill: $primary;
    }
  }
  &:active {
    box-shadow: 0 0 10px 0 rgba($primary, 0.3) inset;
  }
  &:focus {
    border: 1px solid $primary;
  }

  path {
    transition: fill 0.2s $mainEasing;
  }
  &[disabled] {
    opacity: 0.7;
    cursor: not-allowed;
  }
}

.primary {
  background-image: linear-gradient(to right, $primary, $primarySecond);
  color: $white;
  border: solid 1px $primary;
  transition: box-shadow 0.1s $mainEasing, background-color 0.2s $mainEasing, border-color 0.2s $mainEasing;
  border-radius: 3px;
  &:hover {
    color: $white;
    background-image: linear-gradient(to right, #41877e, #3da183);
    border-color: darken($primary, 6%);
  }
  &:active {
    background-image: linear-gradient(to right, #41877e, #3da183);
    box-shadow: 0 0 10px 0 rgba(#fff, 0.6) inset;
  }
}

.sm {
  height: 32px;
  font-size: 14px;
  min-width: 20px;
}
.lg {
  min-width: 150px;
  height: 56px;
}

.icon {
  font-size: 26px;
  margin-right: -10px;
}

.float {
  background-color: transparent;
  color: #bdbdbd;
  &:hover {
    color: $white;
    border-color: $white;
    path {
      fill: $white;
    }
  }
  &:active {
    color: $white;
    border-color: $white;
    box-shadow: 0 0 10px 0 rgba($primary, 0.3) inset;
  }
}

.red {
  background-color: #ff5151;
  border-color: #ff5151;
  color: white;
  &:hover {
    background-image: linear-gradient(to right, #e04848, #f04d4d);
    border-color: #ff5151;
    color: white;
    path {
      fill: #f04d4d;
    }
  }
  &:active {
    background-image: linear-gradient(to right, #e04848, #f04d4d);
    color: white;
    path {
      fill: #f04d4d;
    }
  }
}

.stretch {
  width: 100%;
}

.black {
  background-color: #3d3b3a;
  border-radius: 3px;
  height: 44px;
  color: #fff;
}

.text:first-letter {
  text-transform: uppercase;
}
