.colored-list-item {
  display: flex;
  align-items: center;
  height: 30px;
  margin: 0 3px 0 6px;
  flex: 1;
  border-radius: 8px;
  line-height: 30px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 2px 5px;
  cursor: pointer;
}

.colored-list-item:hover {
  background: rgba(177, 177, 177, 0.135);
}

.bullet {
  flex: 0 0 8px;
  display: inline-block;
  margin-right: 6px;
  .circle {
    width: 8px;
    height: 8px;
    border-radius: 99px;
  }
}

.title {
  overflow: hidden;
  text-overflow: ellipsis;
}